{% extends 'base.html' %}

{% block body %}
<h4>GitHub Profile</h4>
<p>https://github.com/balamurugan-shanmuganathan</p>

<div class="jumbotron text-center">
    <p>Web scraping is a technique using which the webpages from the internet are fetched and parsed to understand and extract specific information similar to a human being.</p><br>
    <p>This tool is trying to scrap reviews from flipkart.com about the product that we are planning to buy. Our end goal is to build a web scraper that collects the reviews of a product from the internet.</p><br>
    <p>For example, if we open filpkart.com and search for ‘iPhone’, it shows the search result.Then if we click on a product link, it will take us to to the following page. You have to copy and paste this url</p>
    <img src="{{ img2 }}" alt="User Image" width="1000" height="450">
</div>

{% endblock %}