{% extends 'base.html' %}

{% block head %}
    
    <link rel = 'stylesheet'  href = "{{ url_for('static', filename = 'css/style.css' )}}">
{% endblock %}

{% block body %}
    <div class = 'content'>
        <h1 style="text-align: center">Search product in Flipkart</h1>
        <div class = 'form'>

            <form style="text-align: center" action = '/result', method = 'POST'>
                <input type = 'text' name = 'content' id = 'content'>
                <input type = 'submit' value = 'Search'>       
            </form>
        
            <h4 style="text-align: center">Note: For demo purpose fetch only 10 product details.</h4>
        </div>

    </div>
{% endblock %}

